<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

    <% @posts.each do |post| %>
    <p class="post">
      <%= post.content %>
    </p>
    <td><%= link_to 'Show', post_path(post) %></td>
    <% end %>

<br>

<%= link_to 'New Post', new_post_path %>
