<p id="notice"><%= notice %></p>

<p>
  <%= @post.content %>
</p>
<% if user_signed_in? && current_user.id == @post.user_id %>
    <%= link_to 'Edit', edit_post_path(@post) %>
<% end %>
    <br />
<%= link_to 'Back', posts_path %>
